$header-color: #121212;
$breakpoints: (
    fold: 415px,
    lg : 530px
);


@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.header {
    width: 100%;
    height: 10vh;
    background-color: $header-color;
    color: white;
    .container {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        
        .logo {
            font-size: 25px;
            background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            user-select: none;
            @include media-up(lg){
                display: none;
            }
            .title2 {
                background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .menu {
            width: 60%;
            @include media-up(lg){
                width: 88%;
            }
        }
        .btn-container {
            width: 50px;
            height: 50px;
            user-select: none;
        }
    }
}
