<main class="container">
  <div class="card" *ngFor="let gif of resultado">
    <a [href]="gif.images.downsized_medium.url" target="_blank">
      <section class="animate__animated animate__bounceInDown">
        <article class="container-img">
          <img
            loading="lazy"
            [src]="gif.images.downsized_medium.url"
            [alt]="gif.title"
          />
          <div class="usuario">
            <a [href]="gif.user ? gif.user.profile_url : null" target="_blank">
              <img [src]="gif.user ? gif.user.avatar_url : valor" />
              {{ gif.username || "Desconocido" }}
            </a>
          </div>
          <div class="redes" *ngIf="gif.user">
            <a
              [href]="gif.user.instagram_url ? gif.user.instagram_url : null"
              class="instagram"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </article>
        <article class="container-content">
          <div class="container-title">
            <p>{{ gif.title | titlecase }}</p>
          </div>
          <!-- <div class="container-description">
            <p>{{ gif.user ? gif.user.description : "Sin descripción😭" }}</p>
          </div> -->
        </article>
      </section>
    </a>
  </div>
</main>
