$breakpoints: (
    fold: 442px,
    lg : 530px,
    xl : 442px
);


@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.container {
    width: 100%;
    margin: 13vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    @include media-up(lg){
        width: 99%;
        gap: 15px;
    }
    .card {
        width: 20%;
        min-width: 200px;
        background-color: #2C2C2C;
        border-radius: 8px;
        overflow: hidden;
        @include media-up(fold){
            width: 90%;
            min-width: none;
        }
        .container-img {
            width: 100%;
            height: 300px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .container-content {
            color: white;
            padding: 10px;
            .container-title {
                padding: 10px 0;
            }
            .container-description {
                
                img {
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                .usuario {
                    position: absolute;
                    bottom: 62px;
                    left: 3px;
                    display: none;
                    padding: 10px;
                    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
                    border-radius: 8px;
                    a {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: white;
                        text-decoration: none;
                        justify-content: center;

                    }

                }
            }
        }
    }
    .card:hover {
        box-shadow: 1px 1px 20px rgba(115, 115, 115, 0.837);
        .container-content {
            .container-description {
                .usuario {
                    display: block;
                }
            }
        }
    }
}