.header {
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
}

.resultados {
    width: 100%;
    height: 88vh;
}
.aside {
    width: 280px;
    position: fixed;
    top: 0;
    right: 0;
}