$breakpoints: (
    fold: 442px,
    lg : 530px,
    xl : 442px
);
@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.container-pagination {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include media-up(fold){
        gap: 10px;
    }
    .btn {
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        @include media-up(fold){
            min-width: 110px;
        }
    }
    .btn:active,
    .btn:hover {
        outline: 0;
    }
    .btn span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }
    .btn:hover span {
        background: none;
    }
       
    .btn:active {
        transform: scale(0.9);
    }

    .btn-prev {
        opacity: 0.5;
    }
}