input {
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 17px;
    text-align: center;
    
}
input:focus {
    outline: none;
}
input::placeholder {
    font-weight: bold;
}
